/*  your css code here. If applicable */

.gridtemplate{
    width: 100vw;
	height: 80vh;
	background-color: black;
}
.templates{
	background-color: green;
	border: solid green;
	grid-template-columns: repeat(40, 20px);
	grid-template-rows: repeat(20, 20px);
}